html{
    background: url("floral_pattern.png") no-repeat center fixed; 
    background-size: cover;
    -webkit-animation-name: change; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
body{
    padding: 0;
    margin: 0;   
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes change {
    0%{background-color:#ffffff}
    50% {background-color: #000000;}
    100% {background-color: #ffffff;}
}

@keyframes change {
    0% {background-color: #ffffff;}
    50% {background-color: #000000;}
    100% {background-color: #ffffff;}
}
#poem{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #9e9e9e;
		white-space: pre;

}
